.tableHeader {
  background-color: #F6F7F9;
}

.tableHeader tr {
  height: 3.125rem;
  width: 100%;
  
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.headerCell {
  font-weight: 600;
  font-size: 1rem;
}