.page-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: calc(100vh - 4rem);
    align-items: center;
    justify-content: center;
    background: var(--color-bg-light);
}

.forgot-password-form-container {
    position: relative;
    display: grid;
    grid-template-rows: 0 11rem 6rem 4rem 13rem 1rem;
    min-height: 35rem;
    width: 27rem;
    align-items: end;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}