.sectionHeaderContainer {
   display: flex;
   flex-direction: column;
}

.sectionHeader {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0 2.5rem;
   margin: 2.5rem 0;
   background: #005293;
   height: 4.125rem;
}

.label {
   margin-top: 1.25rem;
   font-size: 1.5rem;
   font-weight: 600;
   letter-spacing: 5%;
   color: white;
}

.description {
   padding: 1rem 12rem;
   font-style: italic;
   font-size: 1rem;
}