.sectionHeader {
    display: flex;
    flex-direction: column;
    padding: .8rem 2rem;
    background: #005293;
}

.label {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .05rem;
    color: white;
    padding-bottom: 0;
}
p {
   padding-bottom: 0;
}