/* General container for the input field */
.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 1.5rem; /* Add some spacing between fields */
   padding-top: 1rem;
   margin-left: 5rem;
}

/* Adjust container padding for small size */
.smallContainer {
   padding-top: 0.5rem;
}

/* Label styling */
.labelRow {
   display: flex;
   align-items: center;
   margin-bottom: 0.5rem; /* Space between label and input field */
}

.label {
   margin-top: 1rem;
   font-size: 1.2rem;
   letter-spacing: 0.6px;
   font-weight: 600;
   color: #333; /* Dark color for better contrast */
   margin-right: 0.5rem;
}



/* Popup guidance styling */
.popup {
   margin-left: 0.5rem;
}

/* Input field styling */
.input {
   width: 20%;
   padding: 0.8rem;
   font-size: 1rem;
   border: 1px solid #ccc;
   border-radius: 10px;
   outline: none;
   resize: none; /* Disable resizing */
   transition: all 0.3s ease; /* Smooth transition on focus */
}

/* Styling when the input is valid */
.validInput {
   border-color: #ccc;
}

/* Styling for invalid input */


/* Disabled input field */
.disabledInput {
   background-color: #e0e0e0;
   pointer-events: none;
}

/* Input field size adjustments for small size */
.smallInput {
   font-size: 0.875rem;
   padding: 0.6rem;
}

/* Placeholder styling */
input::placeholder {
   color: #aaa;
}

/* Error message handling */
.errorMessage {
   font-size: 0.9rem;
   margin-top: 0.5rem;
}

/* Remove top padding for fields that need it */
.noTopPadding {
   padding-top: 0;
}
