.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3); 
    backdrop-filter: blur(6px); 
    display: flex;
    align-items: center;    
    justify-content: center;
    z-index: 999;
}

.modalContainer {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    padding: 1rem 3rem;
    z-index: 99;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-width: 25vw;
    margin-bottom: 2rem;
}

.closeButton {
    background: none;
    border: none;
    font-size: 2.65rem;
    cursor: pointer;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
}

.browseButton {
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: #005293;
    transition: background-color 0.3s ease;
    height: 3.5rem;
    padding: 1rem 1.5rem;
}

/* File upload box */

.fileUploadContainer {
    width: 28rem;
    height: 18rem;
    background-color: rgba(0, 81, 147, 0.07);
    border-radius: 8px;
    border: 0.15rem dashed rgba(0, 82, 147, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 82, 147, 0.7);
}

.fileUploadContainer.dragging {
    background-color: rgba(0, 81, 147, 0.2);
}

.fileUploadContainer svg {
    fill: rgba(0, 82, 147, 0.7);
}

.fileUploadContainer span {
    font-weight: 600;
    font-size: 1.2rem;
}

/* File upload input */

.fileUploadInput {
    opacity: 0;
    background: transparent;
    color: transparent;
}

.separator {
    text-align: center;
    margin: 0.6rem 0;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

/* Stop scrolling on body when modal is open */
body:has(.overlay) {
    overflow-y: hidden;
}