.container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: start;
	height: 550px;
	gap: 0;
	margin-left: 270px;
	margin-top: 35px;
	transition: width ease 0.5s;
}

.lineCont {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: flex-start;
	gap: 1.8rem;
	box-sizing: border-box;
	padding: 6.2rem 2rem;
}

.lineCont img {
	height: 100px;
}

.headerCont {
	width: 100%;
	height: calc(4rem - 27.5px);
	padding-left: 1rem;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

.iconCont {
	position: absolute;
	left: 0px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	justify-content: space-around;
	width: 100%;
	padding: 27.5px 1rem;
	z-index: 3;
}

.iconCont img {
	width: 30px;
	height: 30px;
	margin-right: 30px;
}

.stagesCont {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	justify-content: space-between;
	padding: 2.2rem 0;
	z-index: 1;
	font-size: 16px;
	font-weight: 400;
}

.stage {
	width: 100%;
	padding: 2.33rem 0 2.33rem 4rem;
	box-sizing: border-box;
}

.currentStage {
	background-color: #F6F7F9;
	font-weight: 600;
}