.container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: start;
	height: 500px;
	gap: 0;
	margin-left: 270px;
	margin-top: 47px;
	transition: width ease 0.5s;
}

.lineCont {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.lineCont img {
	height: 60px;
	position: absolute;
	transform: translate(-50%, -55%);
	left: calc(1rem + 10px);
	margin-top: 30px;
}

.headerCont {
	width: 100%;
	height: calc(4rem - 27.5px);
	padding-left: 1rem;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

h2 {
	font-size: 0.7rem;
	font-weight: 600;
}

.iconCont {
	position: absolute;
	left: 0px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	justify-content: space-around;
	width: 100%;
	padding: 27.5px 1rem;
	z-index: 3;
}

.iconCont img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	font-weight: 600;
}

.stagesCont {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	justify-content: space-between;
	padding: 30px 0 27px;
	z-index: 1;
}

.stage {
	width: 100%;
	padding: 27.5px 0 27.5px 4rem;
	box-sizing: border-box;
}

.currentStageCont {
	background-color: #F6F7F9;
}