.projectViewContainer {
    display: flex;
    flex-direction: column;
  }
  
  .mainContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }
  
  .leftPanel {
    flex: 0 0 auto;
    min-width: 0;
  }
  
  .rightPanel {
    flex: 1;
    min-width: 0;
    padding: 20px;
    overflow: hidden;
    background: #F6F7F9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .showNotesButton {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 7rem;
	padding: 1rem;
	box-sizing: border-box;
	border: none;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 5px 5px lightgray;
  }

  .showNotesButtonText {
	font-weight: bold;
	font-size: 16px;
	margin: 0.25rem 0 0 0;
	padding: 0;
  }
   