.question {
   font-size: 1.05rem;
   font-weight: 550;
   line-height: 1.5rem;
   text-align: left;
   letter-spacing: 1px;
}

.dropdownContainer {
   display: flex;
   flex-direction: column;
   padding: 2rem 10rem;
}

.dropdownButton {
   background-color: white;
   color: black;
   height: 2rem;
   text-align: left;
   width: 14rem;
   border-radius: 0.4rem;
   border: rgba(0, 0, 0, 0.3) 1px solid;
   display: flex;
   padding: 0 1rem;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   margin-top: 1rem;
   font-size: 0.9rem;
   font-weight: 300;
   letter-spacing: 1px;
}

.dropdownMenu {
   text-align: left;
   width: 14rem;
   margin-top: 0.2rem;
   background-color: white;
   color: black;
   box-shadow: -1px 6px 14px 4px rgba(0, 0, 0, 0.231);
   overflow: hidden;
}

.dropdownItem {
   padding: 0.5rem;
}

.dropdownItem:hover {
   background-color: #c1c7ce;
}

.chevron {
   width: 1rem;
   rotate: 180deg;
   transition: rotate 0.3s linear;
}

.documentLink {
   display: inline-block;
   margin-bottom: 0.5rem;
   color: #31ab48;
   text-decoration: none;
   font-size: 0.9rem;
}

.documentLink:hover {
   text-decoration: underline;
}
