.question {
	font-size: 1.5rem;
	text-align: left;
}

.dropdownContainer {
	display: flex;
	flex-direction: column;
}

.dropdownButton {
	background-color: white;
	color: black;
	text-align: left;
	width: 10rem;
	border-radius: 0.4rem;
	border-color: black;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin-left: 0;
}

.dropdownMenu {
	text-align: left;
	width: 10rem;
	margin-top: 0.2rem;
	border-radius: 0.4rem;
	background-color: white;
	color: black;
	overflow: hidden;
}

.dropdownItem {
	padding: 0.5rem;
}

.dropdownItem:hover {
	background-color: #C1C7CE;
}

.chevron {
	width: 1rem;
	rotate: 180deg;
	transition: rotate 0.3s linear;
}