.progress-container {
   padding: 20px 0;
   width: 100%;
}

.progress-steps {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.progress-line {
   position: absolute;
   height: 3px;
   width: 100%;
   background-color: #c1c7ce;
   z-index: 1;
}

.progress-line-completed {
   position: absolute;
   height: 3px;
   background-color: #31ab48;
   z-index: 2;
   transition: width 0.3s ease;
}

.progress-step {
   width: 36px;
   height: 36px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-weight: bold;
   z-index: 3;
   position: relative;
}

.progress-step-current-indicator {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: white;
}
