.sectionHeader {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 2rem;
    background: #005293;
}

.label {
    font-size: 1.5rem; /* Keeping the larger size for better readability */
    font-weight: 600;  /* Keeping the bolder text for emphasis */
    letter-spacing: 0.1rem;
    color: white;
}
