@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

.sectionHeader {
    display: flex;
    flex-direction: column;
    padding: .8rem 2rem;
}

.label {
    font-size: 16;
    font-weight: 500;
    color: #757575;
    font-family: 'Roboto', sans-serif;


letter-spacing: 0.15;
word-wrap: 'break-word'

}