.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0 8rem 3rem;
 }

.label {
    font-size: 1.1rem;
    font-weight: 500;
}

.required::after {
    content: " *";
    font-weight: bold;
    color: red;
}

.disabled {
    background: #f0f0f0;
    pointer-events: none;
}

.input {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #C1C7CE;
    resize: vertical;
    font-size: 0.9rem;
    font-family: inherit;
};