.titleHeader {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2rem 3.2rem 0;
}

.title {
    font-size: 2rem; /* Keeping the larger font size for better readability */
    font-weight: 600;
    letter-spacing: 0.09rem;
}

.description {
    font-size: 0.93rem;
    letter-spacing: 0.03rem;
}
