.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: 5;
	width: 100vw;
	height: 100vh;
}

.alertsCont {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%,0%);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 30vw;
	z-index: 6;
}

.alertCont {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px var(--color-secondary);
	background-color: white;
	margin-bottom: 1rem;
	width: fit-content;
	gap: 5px;
	position: relative;
}

.alertCont button {
	border: none;
	background-color: transparent;
	margin-top: 4px;
}

.successText, .errorText {
	font-size: 0.8rem;
	padding: 2px 0 0 0;
	border: none;
}

.confirmDialogOverlay {
	background-color: black;
	opacity: 0.6;
	z-index: 7;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.confirmDialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	width: 60%;
	background-color: white;
	padding: 20px 30px;
	z-index: 8;
	overflow: hidden;
}

.confirmDialog h3 {
	font-weight: normal;
	font-size: 0.8rem;
}

.confirmButtonsCont {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 1rem;
	z-index: 7;
}

.confirmButtonsCont button {
	border: var(--color-primary) 1px solid;
	border-radius: 10px;
	background-color: transparent;
	color: var(--color-primary);
	font-size: 0.7rem;
	padding: 8px 20px;
	transition: background-color 0.2s linear;
}

.confirmButtonsCont button:hover {
	background-color: var(--color-primary);
	color: white;
}

.container {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	width: 50vw;
	min-height: 440px;
	background-color: white;
	z-index: 6;
	overflow: hidden;
}

.shareCont {
	position: absolute;
	top: 0px;
	right: 0%;
	width: 50vw;
	padding: 2.5rem;
	height: 100%;
	transition: right 0.3s ease-in-out;
	overflow-y: auto;
}

.headerCont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

h1 {
	font-weight: 600;
	font-size: 1rem;
	color: black;
}

.headerCont button {
	border: none;
	background-color: transparent;
	padding: 0px;
}

.invite {
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

.inputBox {
	padding: 0.5rem 0.5rem 0rem 0.5rem;
	border-radius: 10px;
	border: var(--color-secondary) 1px solid;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
	width: 100%;
}

.emailInput {
	border: none;
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
	padding: 7px 7px;
	background-color: transparent;
	flex-grow: 2;
}

.emailInput:focus {
	outline: none;
}

.emailCapsuleValid, .emailCapsuleInvalid {
	padding: 2px 5px;
	border-radius: 10px;
	margin-right: 5px;
	margin-bottom: 0.5rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 7px;
}

.emailCapsuleValid button, .emailCapsuleInvalid button {
	border: none;
	background-color: transparent;
	margin-top: 2px;
}

.emailCapsuleValid {
	border: #76797C 1px solid;
	color: #76797C;
}

.emailCapsuleInvalid {
	border: red 1px solid;
	color: red;
}

.emailCapsuleValid p, .emailCapsuleInvalid p {
	font-size: 0.7rem;
	padding: 0;
	margin: 0;
	border: none;
}

.belowInputCont {
	position: relative;
}

.autocompleteCont {
	display: none;
	position: absolute;
	top: 0px;
	background-color: white;
	width: 100%;
	border-left: var(--color-secondary) 1px solid;
	border-right: var(--color-secondary) 1px solid;
	border-bottom: var(--color-secondary) 1px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 5px;
	overflow: hidden;
}

.autocompleteButton {
	border: none;
	background-color: transparent;
	appearance: none;
	font-size: 0.7rem;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	transition: background-color 0.2s linear;
}

.autocompleteButton:hover {
	background-color: var(--color-secondary);
}

.notifyCont {
	font-size: 0.7rem;
	padding: 1rem 0rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.notifyCont p {
	margin-left: 5px;
	padding: 0;
	border: none;
}

.messageBox {
	border: var(--color-secondary) 1px solid;
	border-radius: 10px;
	padding: calc(0.5rem + 7px);
	width: 100% !important;
	background-color: #F6F7F9;
}

.buttonCont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 0.5rem;
}

.inviteButton {
	border: var(--color-primary) 1px solid;
	border-radius: 10px;
	background-color: transparent;
	color: var(--color-primary);
	font-size: 0.7rem;
	padding: 8px 20px;
	transition: background-color 0.2s linear;
}

.inviteButton:hover {
	background-color: var(--color-primary);
	color: white;
}

h2 {
	font-size: 0.8rem;
	font-weight: 600;
}

.accessCont {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.accessCont p {
	font-size: 0.7rem;
}

.accessCont button {
	border: none;
	background-color: transparent;
}

.manageAccessCont {
	width: 50vw;
	padding: 2.5rem;
	position: absolute;
	top: 0px;
	left: 0%;
	height: 100%;
	background-color: white;
	transition: left 0.3s ease-in-out;
	overflow-y: auto;
}

.buttonsHeaderCont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.buttonsHeaderCont button {
	border: none;
	background-color: transparent;
}

.leftButton {
	margin-left: -8px;
}

.usersCont {
	width: 100%;
}

.userDataCont {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0px;
}

.userDataCont p {
	padding: 0;
	border: none;
}

.userNameEmail {
	width: 50%;
}

.userName {
	font-size: 0.8rem;
}

.userEmail {
	color: #76797C;
	font-size: 0.7rem;
}

.userRole {
	text-align: left;
	width: 25%;
	color: #76797C;
	font-size: 0.7rem;
}

.userDataCont button {
	border: none;
	background-color: transparent;
	color: #76797C;
}