.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

.label {
    font-size: 0.85rem;
    font-weight: 500;
    color: black;
}

.inputContainer {
    position: relative;
}

.input {
    width: 100%;
    padding: 1.15rem;
    border: 1px solid #dadada;
    border-radius: .625rem;
    font-size: 0.85rem;
    background-color: #F7F8F9;
    color: var(--color-gray);
    letter-spacing: 0.42px;
}

.toggleHiddenIcon {
    position: absolute;
    top: 1.4rem;
    right: 1.1rem;
    width: 1rem;
    cursor: pointer;
    -webkit-user-drag: none;
}

.link {
    align-self: flex-end;
    font-size: 0.95rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-gray);
}