.bottomLinkContainer {
    display: flex;
    flex-direction: row;
    gap: .3rem;
    width: 20rem;
    justify-content: center;
    font-weight: 500;
}

.beforeText {
    font-size: 1rem;
    color: gray;
    letter-spacing: .2px;
}

.link {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}