.fieldContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.label {
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 0;
    color: black;
}

.inputContainer {
    position: relative;
}

.input {
    margin-bottom: .3rem;
    padding: 1.15rem;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: .625rem;
    font-size: 0.85rem;
    background-color: #F7F8F9;
    color: var(--color-gray);
    letter-spacing: 0.42px;
}

.input::placeholder {
    color: var(--color-lightgray);
    font-size: .8rem;
}

.toggleHiddenIcon {
    position: absolute;
    top: 1.4rem;
    right: 1.1rem;
    width: 1rem;
    cursor: pointer;
    -webkit-user-drag: none;
}

.link {
    align-self: flex-end;
    font-size: 0.95rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-gray);
}