.header {
    padding: 2rem 2.5rem;
    border-right: 1px solid #CCCCCC;
    width: 18.75rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
}

.logo {
    height: 3.5rem;
}

.headerNavContainer {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: -2.5rem;  /* Counter the header's left padding */
    margin-right: -2.5rem; /* Counter the header's right padding */
    gap: 1rem;
}

.headerNavButton {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5875em;
    align-items: center;
    height: 3.125rem;
    background: none;
    border: none;
    cursor: pointer;  
    padding-left: 2.5rem;
}

.headerNavButton.active {
    background-color: #F6F7F9;
}

.headerNavButton img {
    width: 1.25rem;  
    min-width: 1.25rem;  
    height: 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavButton:hover {
    background-color: #F6F7F9;
}